<h1 align='center'> COMP2420/COMP6420 - Introduction to Data Management, Analysis and Security</h1>

<h2 align='center'> Lab 07 - Machine Learning - III</h2>

*****

In this lab, we will have a look at **Unsupervised Machine Learning** and then working on a particular algorithm of Unsupervised Learning called **K-Means Clustering**.  

<br/>

### Unsupervised Learning 
**Unsupervised Learning** is a class of Machine Learning techniques that find patterns in data. The data given to an unsupervised algorithm are **unlabelled**, which means only the input variables (x) are given with no corresponding output variables. So, an unsupervised learning algorithm is meant to derive strucutre from data without any previous knowledge of what the variables are. In unsupervised learning, the algorithms are left to themselves to discover interesting structures in the data.

<br/>

### Supervised vs. Unsupervised Learning
In **Supervised Learning**, the constructed model tries to learn from the examples of inputs and outputs that are already provided to it to train it. On the other hand, in **Unsupervised Learning**, the model attempts to find the patterns directly from the given data. So, if the dataset is labelled it comes under a supervised problem, and if the dataset is unlabelled then it is an unsupervised problem.

<img src="./images/sup_vs_unsup.png" /> 
Source: [CambridgeSparks - Overview of Data Science](http://beta.cambridgespark.com/courses/jpm/01-module.html)

<br/>

## K-Means Clustering

**K-Means Clustering** is a type of **unsupervised** machine learning algorithm, in which we can cluster the data points based on their proximity to a centroid point. Thus, the given data set is divided into _k_ number of clusters. It does this using the following steps - 

1. The number of clusters **(k)** are picked, and each cluster is represented by its centroid point.

2. Each data point becomes part of a cluster based on its proximity to the nearest centroids, thereby forming **k clusters**.

3. Based on these clusters, the centroid of each cluster is **re-calculated to get new centroids**.

4. **Steps 2 and 3 are repeated** to find the closest distance for each data point from new centroids and get associated with its closest clusters until **convergence** occurs (no change in centroids).

<img src='./images/kmeans.png' height='40px'><br/>
<span style='align:right;'><b>Source:</b> [Maciej Pacula >> k-means Clustering](http://blog.mpacula.com/2011/04/27/k-means-clustering-example-python/)</span>

<br/>

## Exercise 1: Shoppers' Flock

Using clustering in business problems, we can cluster our data to find out groups of them by age, salary, gender or any other feature that you have in your dataset. By doing this we can find the best strategy to succeed in a market. Let's do a clustering of the shoppers visiting a shopping mall, to find out what we can find out about these shoppers.

In [84]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [85]:
df_customers = pd.read_csv("data/customers.csv", skipinitialspace=True)
df_customers.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In this data, we have no use for the **CustomerID** column, as we don't need to uniquely identify any of the customers. Also, we need to encode **Gender** to a numeric figure, so that it's easier to cluster.

1. Remove the column **CustomerID** from the dataframe, and encode the column **Gender** to a series of **0 (for Female)** and **1 (for Male)**.

In [89]:
# YOUR ANSWER HERE

df_customers_new = df_customers.drop(columns="CustomerID")

#le = LabelEncoder()
#le.fit(["paris", "paris", "tokyo", "amsterdam"])
#LabelEncoder()
#list(le.transform(["tokyo", "tokyo", "paris"])) 
#[2, 2, 1]

# Create a label (category) encoder object
le = LabelEncoder()
# Fit the encoder to the pandas column
le.fit(["Male", "Female"])
# Apply the fitted encoder to the pandas column
df_customers_new['Gender'] = le.fit_transform(df_customers_new['Gender'])
print(df_customers_new)

#df_customers['Gender'] = df_customers['Gender'].map({'Female': 1, 'Male': 0})

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0         1   19                  15                      39
1         1   21                  15                      81
2         0   20                  16                       6
3         0   23                  16                      77
4         0   31                  17                      40
5         0   22                  17                      76
6         0   35                  18                       6
7         0   23                  18                      94
8         1   64                  19                       3
9         0   30                  19                      72
10        1   67                  19                      14
11        0   35                  19                      99
12        0   58                  20                      15
13        0   24                  20                      77
14        1   37                  20                      13
15        1   22                  20                      79
16        0   35                  21                      35
17        1   20                  21                      66
18        1   52                  23                      29
19        0   35                  23                      98
20        1   35                  24                      35
21        1   25                  24                      73
22        0   46                  25                       5
23        1   31                  25                      73
24        0   54                  28                      14
25        1   29                  28                      82
26        0   45                  28                      32
27        1   35                  28                      61
28        0   40                  29                      31
29        0   23                  29                      87
..      ...  ...                 ...                     ...
170       1   40                  87                      13
171       1   28                  87                      75
172       1   36                  87                      10
173       1   36                  87                      92
174       0   52                  88                      13
175       0   30                  88                      86
176       1   58                  88                      15
177       1   27                  88                      69
178       1   59                  93                      14
179       1   35                  93                      90
180       0   37                  97                      32
181       0   32                  97                      86
182       1   46                  98                      15
183       0   29                  98                      88
184       0   41                  99                      39
185       1   30                  99                      97
186       0   54                 101                      24
187       1   28                 101                      68
188       0   41                 103                      17
189       0   36                 103                      85
190       0   34                 103                      23
191       0   32                 103                      69
192       1   33                 113                       8
193       0   38                 113                      91
194       0   47                 120                      16
195       0   35                 120                      79
196       0   45                 126                      28
197       1   32                 126                      74
198       1   32                 137                      18
199       1   30                 137                      83

[200 rows x 4 columns]

2. Use Scikit-Learn's **K-Means Clustering** to cluster this data into **5 clusters**. Plot a **scatterplot** to visualize and verify your 5 clusters.

In [40]:
# YOUR ANSWER HERE

# Features | X values
X = df_customers_new[['Gender','Age','Annual Income (k$)']]

print(X)
# Labels | Y values
y = df_customers_new[['Spending Score (1-100)']]
y = np.ravel(y)

y_pred = KMeans(n_clusters=5, random_state=9).fit_predict(X)
plt.scatter(X[:, 0], X[:, 1], c=y_pred)
plt.show()

     Gender  Age  Annual Income (k$)
0       NaN   19                  15
1       NaN   21                  15
2       NaN   20                  16
3       NaN   23                  16
4       NaN   31                  17
5       NaN   22                  17
6       NaN   35                  18
7       NaN   23                  18
8       NaN   64                  19
9       NaN   30                  19
10      NaN   67                  19
11      NaN   35                  19
12      NaN   58                  20
13      NaN   24                  20
14      NaN   37                  20
15      NaN   22                  20
16      NaN   35                  21
17      NaN   20                  21
18      NaN   52                  23
19      NaN   35                  23
20      NaN   35                  24
21      NaN   25                  24
22      NaN   46                  25
23      NaN   31                  25
24      NaN   54                  28
25      NaN   29                  28
26      NaN   45                  28
27      NaN   35                  28
28      NaN   40                  29
29      NaN   23                  29
..      ...  ...                 ...
170     NaN   40                  87
171     NaN   28                  87
172     NaN   36                  87
173     NaN   36                  87
174     NaN   52                  88
175     NaN   30                  88
176     NaN   58                  88
177     NaN   27                  88
178     NaN   59                  93
179     NaN   35                  93
180     NaN   37                  97
181     NaN   32                  97
182     NaN   46                  98
183     NaN   29                  98
184     NaN   41                  99
185     NaN   30                  99
186     NaN   54                 101
187     NaN   28                 101
188     NaN   41                 103
189     NaN   36                 103
190     NaN   34                 103
191     NaN   32                 103
192     NaN   33                 113
193     NaN   38                 113
194     NaN   47                 120
195     NaN   35                 120
196     NaN   45                 126
197     NaN   32                 126
198     NaN   32                 137
199     NaN   30                 137

[200 rows x 3 columns]

Now comes the fun part! 

3. Convert each of these clusters into a dataframe, and analyse each of these clusters. Discuss your findings from these statistics.

<span style='color:blue;'>**HINT** - Your analysis can include studying the mean age, average annual income & deviation in income, size of each cluster and male-female ratio of each cluster.</span>

In [5]:
# YOUR ANSWER HERE
# Insert a separate column for Cluster Number



# Separate into different dataframes based on Cluster Number 



# Show the top five rows

In [6]:
# YOUR ANSWER HERE
# Group and analyse the statistics from each cluster

In [7]:
# DISCUSS YOUR FINDINGS

## Exercise 2: Meticulous Metrics

While over the last 3 machine learning labs we have created and implemented models in regression and classification scenarios, we have yet to dive into the types of metrics that can be used to show the performance of your model/s.

***
**Extension:** While this question is designed to introduce and/or refresh your memory about metrics, if you are familar and are looking for extra work, try to implement the scoring functions manually. This can be important going further in machine learning as it is necessary for custom metrics in use of packages such as Keras or Tensorflow.
***

In [ ]:
import sklearn.metrics as skm

### 2.1: Regression Metrics

First stop on the trip back memory lane, we will begin with Regression Metrics. To have usable data to perform metric analysis on perform the following tasks:
- Split your dataset into testing and training data: your training dataset should be 65% of the original dataset. (HINT: This can be set in the train_test_split function)
- Implement a Linear Regression model using **Spending Score** as the output. Use any features other than **Spending Score**. Fit the model on your training data.
- Predict the outputs of the testing set and have this data ready to go for the metrics analysis.

In [ ]:
# YOUR ANSWER HERE

Now that you have predicted and actual outputs, it is comparison time ! Implement the following functions:

#### __R^2 (The refresher)__
Using sklearn, implement the R^2 scoring functions using the inbuilt Linear Regression model function and the metrics module

In [ ]:
# YOUR ANSWER HERE

#### __MAE (Mean Absolute Error)__
MAE is the mean measure of difference between two continuous variables. This can help determine the error between the predicted and actual outputs for predicted sets. Implement MAE using the sklearn metrics module and provide the score for the predictions above.

In [ ]:
# YOUR ANSWER HERE

#### __MSE (Mean Squared Error)__
MSE is an alturnative to MAE and provides the average square of the error range between actual and predicted values. Implement and provide the MSE scores for you predictions above.

In [ ]:
# YOUR ANSWER HERE

### 2.2: Classification Metrics

Next stop! We want to look at defining metrics for our classification models now so that we can argue how good (or bad) our model is. To have usable data to perform metric analysis on perform the following tasks:
- Convert your **Spending Score** into a binary output by the following rules: `score < 50 = 0, otherwise = 1.`
- Split your dataset into testing and training data: your training dataset should be 72% of the original dataset. (HINT: This can be set in the train_test_split function)
- Implement a Classification model using your binary **Spending Score** as the output. Use any features other than **Spending Score**. Fit the model on your training data.
- Predict the outputs of the testing set and have this data ready to go for the metrics analysis.

In [ ]:
# YOUR ANSWER HERE

#### __Mean Accuracy (The refresher)__
Keeping with using the original model's scoring function, provide the output of the mean accuracy from your model.

In [ ]:
# YOUR ANSWER HERE

#### __Balanced Accuracy__
As we are performing a binary target classification, we can use the Balanced Accuracy score to score an imbalenced dataset. Is this dataset imbalenced in its outputs? Provide reasoning why it might be, and the outputs from the Balenced Accuracy score from sklearn.

In [ ]:
# YOUR ANSWER HERE

#### __F1 (F-score | F-measure)__
The F1 score is a weighted score of the precision and recall, where the precision is the ability for the classifier to label a sample positive when it is positive, and the recall is the ability of the classifier to find all positive samples. Implement the F1 score from sklearn

**Extension:** Implement the precision and recall seperately and determine the contributing factors to how the F1 score is generated.

In [ ]:
# YOUR ANSWER HERE

***
While these metrics are useful, there will be times when some are more valid than others. Having a sound knowledge of some of the performance metrics you can use to argue the performance of your models will always come in handy for analysis and justification. Make note of these going forward for assessable pieces !